button {
  border-radius: var(--radius-default);
  border: 1px solid transparent;
  padding: var(--space-2) var(--space-4);
  font-size: var(--font-size-body);
  font-weight: 500;
  font-family: var(--font-body);
  background-color: var(--color-primary);
  color: var(--color-bg);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.3s;
}
button:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Elimina colores hardcodeados y usa variables globales */
@media (prefers-color-scheme: light) {
  button {
    background-color: var(--color-bg);
    color: var(--color-primary);
  }
}
