.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-6);
  padding: var(--space-7) 0;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  width: 80%;
  text-align: center;
}

.productCarousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: var(--space-2);
  padding: var(--space-2);
  width: 90%;
}

.productCarousel::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .productCarousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow-x: unset;
    scroll-snap-type: none;
  }
}
